  <h3 class="text-3xl p-5 text-center font-extrabold">Forgot Password</h3>
  <section class="bg-main-light shadow-xl p-4 my-8 rounded-lg">
    @if (step == 1)
  {
    <h3 class="text-2xl text-main font-semibold">Please Enter your Email:</h3>
    <form class="p-5 " [formGroup]="Verifyemailform" (ngSubmit)="Verifyemail()">
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input formControlName="email"  type="email" id="email" class="shadow-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
          <!------------------------------------------------- Alert Message control email --------------------------------------------------->
          @if(Verifyemailform.get('email')?.errors && (Verifyemailform.get('email')?.touched || Verifyemailform.get('email')?.dirty ))
          {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              @if(Verifyemailform.get('email')?.getError('required'))
                {
                  <span class="font-medium">email Is Required</span>
                }
              @else if(Verifyemailform.get('email')?.getError('email'))
                {
                  <span class="font-medium">Enter valid email</span>
                }
            </div>
          }
      </div>
      <button [disabled]="Verifyemailform.invalid || isLoading" class="block ms-auto text-white btn-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-cEnter dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        Verify
        @if (isLoading)
        {
          <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </form>
  }
  @else if (step == 2)
  {
    <h3 class="text-2xl text-main font-semibold">Please Enter Code:</h3>
    <form class="p-5 " [formGroup]="Verifycodeform" (ngSubmit)="VerifycodeSubmit()">
      <div class="mb-6">
        <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code</label>
        <input formControlName="resetCode"  type="text" id="resetCode" class="shadow-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
        <!------------------------------------------------- Alert Message control code --------------------------------------------------->
        @if(Verifycodeform.get('resetCode')?.errors && (Verifycodeform.get('resetCode')?.touched || Verifycodeform.get('resetCode')?.dirty ))
        {
          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            @if(Verifycodeform.get('resetCode')?.getError('required'))
              {
                <span class="font-medium">resetCode Is Required</span>
              }
            @else if(Verifycodeform.get('resetCode')?.getError('pattern'))
              {
                <span class="font-medium">Enter valid code</span>
              }
          </div>
        }
      </div>
      <button [disabled]="Verifycodeform.invalid || isLoading" class="block ms-auto text-white btn-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-cEnter dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        Verify
        @if (isLoading)
        {
          <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </form>
  }
  @else if (step == 3)
    {
      <form class="p-5 " [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()">
        <!----------------------------------------------------------- Email Input ------------------------------------------------------------->
        <h3 class="py-4 text-2xl text-main font-semibold">Your Email:</h3>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input readonly formControlName="email"  type="email" id="email" class="shadow-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
          <!------------------------------------------------- Alert Message control email --------------------------------------------------->
          @if(resetPasswordFormGroup.get('email')?.errors && (resetPasswordFormGroup.get('email')?.touched || resetPasswordFormGroup.get('email')?.dirty ))
          {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              @if(resetPasswordFormGroup.get('email')?.getError('required'))
                {
                  <span class="font-medium">email Is Required</span>
                }
              @else if(resetPasswordFormGroup.get('email')?.getError('email'))
                {
                  <span class="font-medium">Enter valid email</span>
                }
            </div>
          }
          </div>
        <!----------------------------------------------------------- newPassword Input ------------------------------------------------------------->
        <h3 class="py-4 text-2xl text-main font-semibold">Please Enter New Password:</h3>
        <div class="mb-6">
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
            <input formControlName="newPassword"  type="password" id="newPassword" class="shadow-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
            <!------------------------------------------------- Alert Message control newPassword --------------------------------------------------->
            @if(resetPasswordFormGroup.get('newPassword')?.errors && (resetPasswordFormGroup.get('newPassword')?.touched || resetPasswordFormGroup.get('newPassword')?.dirty ))
            {
              <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                @if(resetPasswordFormGroup.get('newPassword')?.getError('required'))
                  {
                    <span class="font-medium">password Is Required</span>
                  }
                @else if(resetPasswordFormGroup.get('newPassword')?.getError('pattern'))
                  {
                    <span class="font-medium">Enter valid password</span>
                  }
              </div>
            }
          </div>
        <button [disabled]="Verifycodeform.invalid || isLoading" class="block ms-auto text-white btn-main hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-cEnter dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          Verify
          @if (isLoading)
          {
            <span><i class="fa-solid fa-spinner fa-spin"></i></span>
          }
        </button>
      </form>
    }
  </section>











