<section>
  <nav class="bg-[#f8f9fa] border-gray-200 dark:bg-gray-900 m-auto fixed w-full z-50 px-9 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto ">
      <a routerLink="home" class=" flex rtl:space-x-reverse">
          <img src="./assets/images/freshcart-logo.svg" class="h-8" alt=" Logo" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
        <div class="hidden w-full p-4 md:flex md:justify-between md:w-[85%] " id="navbar-default">
          <ul class=" font-medium flex flex-col md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row  rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li routerLinkActive="active-link">
              <a routerLink="home" class="navLink block py-2 px-3 text-gray-900 rounded ">
                {{ 'navbar.Home' | translate}}
              </a>
            </li>
            <li routerLinkActive="active-link">
              <a routerLink="brands" class=" navLink block py-2 px-3 text-gray-900 rounded ">
                {{ 'navbar.brands' | translate}}
              </a>
            </li>
            <li routerLinkActive="active-link">
              <a routerLink="categories" class=" navLink block py-2 px-3 text-gray-900 rounded ">
                {{ 'navbar.categories' | translate}}
              </a>
            </li>
            <li routerLinkActive="active-link">
              <a routerLink="products" class=" navLink block py-2 px-3 text-gray-900 rounded ">
                {{ 'navbar.products' | translate}}
              </a>
            </li>
            <li routerLinkActive="active-link">
              <a routerLink="wishList" class=" navLink block py-2 px-3 text-gray-900 rounded ">
                {{ 'navbar.wishList' | translate}}
              </a>
            </li>
          </ul>
          <ul class=" font-medium flex flex-col md:p-0 md:pt-3 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

            <!-- Dropdown button -->
            <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
              class=" navLink my-3 md:my-0 text-black font-medium rounded-lg text-sm  text-center inline-flex items-baseline dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button"> Lang <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 md:h-0 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                  <li [class.bg-[green]]="_TranslateService.currentLang == 'en'" (click)="change('en')" >
                    <a  class=" cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">EN</a>
                  </li>
                  <li [class.bg-[green]]="_TranslateService.currentLang == 'ar'" (click)="change('ar')" >
                    <a  class=" cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">AR</a>
                  </li>
                </ul>
            </div>

            <li>
              <a routerLink="cart" class="block p-3 md:p-1 text-gray-900 rounded  ">
                <i class="navLink fa-solid fa-cart-shopping fa-xl relative "></i>
                <span class="px-1 text-sm bg-[#0aad0a] rounded m-1 absolute md:top-3 md:right-[340px]  text-white"> {{countNum()}} </span>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a  class=" navLink block text-gray-900 ">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li routerLinkActive="active-link">
              <a (click)="_AuthService.logOut()" class=" navLink block text-gray-900 cursor-pointer rounded "> {{ 'navbar.signout' | translate}}</a>
            </li>

          </ul>
        </div>
    </div>
  </nav>

  </section>



