<section class="bg-main-light rounded-lg shadow p-4 my-2 w-3/4 mx-auto  ">
  @for (item of allOrdersList ; track $index) {
    <div class="flex mb-3 border-2 p-4">
      <div class="flex flex-col gap-3">
        <p class="text-main"> Deliverd status :{{item.isDelivered}}</p>
        <p class="text-sm "> payment Method :{{item.paymentMethodType}}</p>
        <p class="text-sm "> Ordered At :{{item.createdAt | date}}</p>
      </div>
      <div class="bg-black">
        @for(src of item.ur; track $index)
        {
          <img [src]="src.product.imageCover" class="w-full"/>
        }
      </div>
      <p class="text-lg  ms-auto block"> total Order Price :{{item.totalOrderPrice | currency : 'GBP'}}</p>
    </div>
  }
</section>



